In [34]:
# Import necessary function/module/library
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

In [35]:
# Load dataset
df_orders = pd.read_csv('order_details.csv')
df_orders

       order_details_id  order_id       pizza_id  quantity
0                     1         1     hawaiian_m         1
1                     2         2  classic_dlx_m         1
2                     3         2  five_cheese_l         1
3                     4         2    ital_supr_l         1
4                     5         2     mexicana_m         1
...                 ...       ...            ...       ...
48615             48616     21348  ckn_alfredo_m         1
48616             48617     21348  four_cheese_l         1
48617             48618     21348   napolitana_s         1
48618             48619     21349     mexicana_l         1
48619             48620     21350      bbq_ckn_s         1

[48620 rows x 4 columns]

In [36]:
# Load dataset
df_pizzas = pd.read_csv('pizzas.csv')
df_pizzas

         pizza_id pizza_type_id size  price
0       bbq_ckn_s       bbq_ckn    S  12.75
1       bbq_ckn_m       bbq_ckn    M  16.75
2       bbq_ckn_l       bbq_ckn    L  20.75
3      cali_ckn_s      cali_ckn    S  12.75
4      cali_ckn_m      cali_ckn    M  16.75
..            ...           ...  ...    ...
91  spinach_fet_m   spinach_fet    M  16.00
92  spinach_fet_l   spinach_fet    L  20.25
93   veggie_veg_s    veggie_veg    S  12.00
94   veggie_veg_m    veggie_veg    M  16.00
95   veggie_veg_l    veggie_veg    L  20.25

[96 rows x 4 columns]

In [37]:
# Load dataset
df_pizza_types = pd.read_csv('pizza_types.csv', encoding='latin1')
df_pizza_types

,pizza_type_id,name,category,ingredients
0,bbq_ckn,The Barbecue Chicken Pizza,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,..."
1,cali_ckn,The California Chicken Pizza,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ..."
2,ckn_alfredo,The Chicken Alfredo Pizza,Chicken,"Chicken, Red Onions, Red Peppers, Mushrooms, A..."
3,ckn_pesto,The Chicken Pesto Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Spinach, Garli..."
4,southw_ckn,The Southwest Chicken Pizza,Chicken,"Chicken, Tomatoes, Red Peppers, Red Onions, Ja..."
5,thai_ckn,The Thai Chicken Pizza,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha..."
6,big_meat,The Big Meat Pizza,Classic,"Bacon, Pepperoni, Italian Sausage, Chorizo Sau..."
7,classic_dlx,The Classic Deluxe Pizza,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,..."
8,hawaiian,The Hawaiian Pizza,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese"
9,ital_cpcllo,The Italian Capocollo Pizza,Classic,"Capocollo, Red Peppers, Tomatoes, Goat Cheese,..."
10,napolitana,The Napolitana Pizza,Classic,"Tomatoes, Anchovies, Green Olives, Red Onions,..."
11,pep_msh_pep,"The Pepperoni, Mushroom, and Peppers Pizza",Classic,"Pepperoni, Mushrooms, Green Peppers"
12,pepperoni,The Pepperoni Pizza,Classic,"Mozzarella Cheese, Pepperoni"
13,the_greek,The Greek Pizza,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic..."
14,brie_carre,The Brie Carre Pizza,Supreme,"Brie Carre Cheese, Prosciutto, Caramelized Oni..."
15,calabrese,The Calabrese Pizza,Supreme,"Nduja Salami, Pancetta, Tomatoes, Red Onions,..."
16,ital_supr,The Italian Supreme Pizza,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni..."
17,peppr_salami,The Pepper Salami Pizza,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ..."
18,prsc_argla,The Prosciutto and Arugula Pizza,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella..."
19,sicilian,The Sicilian Pizza,Supreme,"Coarse Sicilian Salami, Tomatoes, Green Olives..."
20,soppressata,The Soppressata Pizza,Supreme,"Soppressata Salami, Fontina Cheese, Mozzarella..."
21,spicy_ital,The Spicy Italian Pizza,Supreme,"Capocollo, Tomatoes, Goat Cheese, Artichokes, ..."
22,spinach_supr,The Spinach Supreme Pizza,Supreme,"Spinach, Red Onions, Pepperoni, Tomatoes, Arti..."
23,five_cheese,The Five Cheese Pizza,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go..."
24,four_cheese,The Four Cheese Pizza,Veggie,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo..."
25,green_garden,The Green Garden Pizza,Veggie,"Spinach, Mushrooms, Tomatoes, Green Olives, Fe..."
26,ital_veggie,The Italian Vegetables Pizza,Veggie,"Eggplant, Artichokes, Tomatoes, Zucchini, Red ..."
27,mediterraneo,The Mediterranean Pizza,Veggie,"Spinach, Artichokes, Kalamata Olives, Sun-drie..."
28,mexicana,The Mexicana Pizza,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O..."
29,spin_pesto,The Spinach Pesto Pizza,Veggie,"Spinach, Artichokes, Tomatoes, Sun-dried Tomat..."
30,spinach_fet,The Spinach and Feta Pizza,Veggie,"Spinach, Mushrooms, Red Onions, Feta Cheese, G..."
31,veggie_veg,The Vegetables + Vegetables Pizza,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper..."

In [38]:
# Merge df_pizzas and df_orders on the matching column 'pizza_id' 
df_merged_orders_and_pizzas = pd.merge(df_pizzas, df_orders, on='pizza_id', how='inner')
df_merged_orders_and_pizzas

,pizza_id,pizza_type_id,size,price,order_details_id,order_id,quantity
0,bbq_ckn_s,bbq_ckn,S,12.75,11,6,1
1,bbq_ckn_s,bbq_ckn,S,12.75,239,102,1
2,bbq_ckn_s,bbq_ckn,S,12.75,294,124,1
3,bbq_ckn_s,bbq_ckn,S,12.75,458,194,1
4,bbq_ckn_s,bbq_ckn,S,12.75,489,208,1
...,...,...,...,...,...,...,...
48615,veggie_veg_l,veggie_veg,L,20.25,48341,21230,1
48616,veggie_veg_l,veggie_veg,L,20.25,48452,21278,1
48617,veggie_veg_l,veggie_veg,L,20.25,48523,21305,1
48618,veggie_veg_l,veggie_veg,L,20.25,48548,21317,1
48619,veggie_veg_l,veggie_veg,L,20.25,48588,21336,1

In [39]:
# Merge df_merged_orders_and_pizzas and df_pizza_types on the matching column 'pizza_type_id'
df_mba = pd.merge(df_merged_orders_and_pizzas, df_pizza_types, on='pizza_type_id', how='inner') 

# Restructure the output
df_mba = df_mba[['order_id', 'name']]
df_mba

       order_id                               name
0             6         The Barbecue Chicken Pizza
1           102         The Barbecue Chicken Pizza
2           124         The Barbecue Chicken Pizza
3           194         The Barbecue Chicken Pizza
4           208         The Barbecue Chicken Pizza
...         ...                                ...
48615     21230  The Vegetables + Vegetables Pizza
48616     21278  The Vegetables + Vegetables Pizza
48617     21305  The Vegetables + Vegetables Pizza
48618     21317  The Vegetables + Vegetables Pizza
48619     21336  The Vegetables + Vegetables Pizza

[48620 rows x 2 columns]

In [40]:
# Remove order_id with single item
df_mba = df_mba[df_mba.groupby('order_id')['order_id'].transform('count') > 1]                                                                                   
df_mba

       order_id                               name
0             6         The Barbecue Chicken Pizza
1           102         The Barbecue Chicken Pizza
2           124         The Barbecue Chicken Pizza
4           208         The Barbecue Chicken Pizza
5           387         The Barbecue Chicken Pizza
...         ...                                ...
48615     21230  The Vegetables + Vegetables Pizza
48616     21278  The Vegetables + Vegetables Pizza
48617     21305  The Vegetables + Vegetables Pizza
48618     21317  The Vegetables + Vegetables Pizza
48619     21336  The Vegetables + Vegetables Pizza

[40419 rows x 2 columns]

In [41]:
# Create a table such that order_id represents the row while pizza name represents the column
transactions_matrix = pd.crosstab(df_mba['order_id'], df_mba['name'])
transactions_matrix

name,The Barbecue Chicken Pizza,The Big Meat Pizza,The Brie Carre Pizza,The Calabrese Pizza,The California Chicken Pizza,The Chicken Alfredo Pizza,The Chicken Pesto Pizza,The Classic Deluxe Pizza,The Five Cheese Pizza,The Four Cheese Pizza,...,The Prosciutto and Arugula Pizza,The Sicilian Pizza,The Soppressata Pizza,The Southwest Chicken Pizza,The Spicy Italian Pizza,The Spinach Pesto Pizza,The Spinach Supreme Pizza,The Spinach and Feta Pizza,The Thai Chicken Pizza,The Vegetables + Vegetables Pizza
order_id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,1
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21344,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21345,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
21346,0,1,0,0,2,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
21347,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
21348,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [42]:
# To convert qty bought into 0 or 1 instead of the exact qty --> 0 = item was not purchased, 1 = item was purchased 
def encode(item_freq):
    bought = 0
    if item_freq > 0:
        bought = 1
    return bought

# Apply the the function element-wise
basket_input = transactions_matrix.map(encode)

# Convert values to boolean 
basket_input = basket_input.astype(bool)
basket_input

name,The Barbecue Chicken Pizza,The Big Meat Pizza,The Brie Carre Pizza,The Calabrese Pizza,The California Chicken Pizza,The Chicken Alfredo Pizza,The Chicken Pesto Pizza,The Classic Deluxe Pizza,The Five Cheese Pizza,The Four Cheese Pizza,...,The Prosciutto and Arugula Pizza,The Sicilian Pizza,The Soppressata Pizza,The Southwest Chicken Pizza,The Spicy Italian Pizza,The Spinach Pesto Pizza,The Spinach Supreme Pizza,The Spinach and Feta Pizza,The Thai Chicken Pizza,The Vegetables + Vegetables Pizza
order_id,,,,,,,,,,,,,,,,,,,,,
2,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
6,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,True,False,False,False,True
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21344,False,False,False,True,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
21345,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,False
21346,False,True,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
21347,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
21348,False,False,False,False,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [43]:
# Apply apriori algorithm
frequent_itemsets = apriori(basket_input, min_support=0.001, use_colnames=True)

# Apply association mining rules to find association between pizzas
result = association_rules(frequent_itemsets, metric="lift")

In [44]:
# Sort product pairs by highest support, confidence and lift values respectively
result = result.sort_values(["support", "confidence", "lift"],axis = 0, ascending = False)
result

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
620,(The Hawaiian Pizza),(The Thai Chicken Pizza),0.140239,0.140771,0.020534,0.146421,1.040134,1.0,0.000792,1.006619,0.044879,0.078832,0.006575,0.146144
621,(The Thai Chicken Pizza),(The Hawaiian Pizza),0.140771,0.140239,0.020534,0.145867,1.040134,1.0,0.000792,1.006589,0.044907,0.078832,0.006546,0.146144
38,(The Barbecue Chicken Pizza),(The Pepperoni Pizza),0.142596,0.145867,0.020458,0.143467,0.983547,1.0,-0.000342,0.997198,-0.019137,0.076334,-0.002810,0.141858
39,(The Pepperoni Pizza),(The Barbecue Chicken Pizza),0.145867,0.142596,0.020458,0.140250,0.983547,1.0,-0.000342,0.997271,-0.019209,0.076334,-0.002736,0.141858
602,(The Hawaiian Pizza),(The Pepperoni Pizza),0.140239,0.145867,0.019697,0.140456,0.962904,1.0,-0.000759,0.993705,-0.042887,0.073937,-0.006335,0.137746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13053,(The Pepperoni Pizza),"(The Pepperoni, Mushroom, and Peppers Pizza, T...",0.145867,0.006693,0.001065,0.007299,1.090660,1.0,0.000089,1.000611,0.097320,0.007028,0.000611,0.083195
13853,(The Pepperoni Pizza),"(The Pepper Salami Pizza, The Vegetables + Veg...",0.145867,0.006693,0.001065,0.007299,1.090660,1.0,0.000089,1.000611,0.097320,0.007028,0.000611,0.083195
14001,(The Pepperoni Pizza),"(The Pepperoni, Mushroom, and Peppers Pizza, T...",0.145867,0.006693,0.001065,0.007299,1.090660,1.0,0.000089,1.000611,0.097320,0.007028,0.000611,0.083195
13804,(The Pepperoni Pizza),"(The Pepper Salami Pizza, The Pepperoni, Mushr...",0.145867,0.006845,0.001065,0.007299,1.066423,1.0,0.000066,1.000458,0.072923,0.007021,0.000458,0.081427
12784,(The Pepperoni Pizza),"(The Spinach Pesto Pizza, The Italian Supreme ...",0.145867,0.007073,0.001065,0.007299,1.032023,1.0,0.000033,1.000228,0.036328,0.007011,0.000228,0.078918